rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // WARNING: This rule allows anyone with your Firestore database reference to view, edit,
    // and delete all data in your Firestore database. It is useful for getting
    // started, but it is configured to expire after 30 days because it
    // leaves your app open to attackers. 
    //
    // For a production app, you should use more restrictive rules like the ones previously
    // defined that check for (request.auth.uid == userId).
    
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2026, 5, 20);
    }
  }
}
